In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
!ls dataset/

categories_atp.csv  links.csv	     ratings_atp.csv  today_atp.csv
categories_mxt.csv  model	     ratings_wta.csv  today_mxt.csv
categories_wta.csv  odds_atp.csv     README.md	      today_wta.csv
courts.csv	    odds_mxt.csv     rounds.csv       tours_atp.csv
facts_atp.csv	    odds_wta.csv     seed_atp.csv     tours_mxt.csv
facts_wta.csv	    pairs.csv	     seed_mxt.csv     tours_wta.csv
games_atp.csv	    players_atp.csv  seed_wta.csv     url.csv
games_mxt.csv	    players.csv      sqlite.ipynb     version.csv
games_wta.csv	    players_mxt.csv  stat_atp.csv
injury_atp.csv	    players_wta.csv  stat_mxt.csv
injury_wta.csv	    points.csv	     stat_wta.csv

In [3]:
# захерачить это в самом верху, чтобы cursor был глобальной переменной, и делать con.close() только в самом конце

import sqlite3
con = sqlite3.connect('on_court.db')
cursor = con.cursor()

cursor.execute("SELECT * FROM sqlite_master")
schema = cursor.fetchall() # можно вывести схему (правда там нет forign key-ев)

query = 'select * from games_atp where ID1_G={id_}'
query = query.format(id_=115)
cursor.execute(query).fetchone()
# >> (115, 105, 1, 12, '6-2 6-1', None)

# если делали alter/create/insert into table:
# con.commit()

(115, 105, 1, 12, u'6-2 6-1', None)

In [4]:
query = 'select * from games_atp where ID1_G={id}'
query = query.format(id=115)
cursor.execute(query).fetchone()

(115, 105, 1, 12, u'6-2 6-1', None)

In [5]:
cursor.execute("SELECT * FROM sqlite_master")
schema = cursor.fetchall()

In [6]:
for i in range(len(schema)):
    print()
    table_name = schema[i][1]
    table_columns = schema[i][-1]
    cols = table_columns.split('(')[1][:-1]
    cols = list(map(lambda r: r.strip().split('			')[0].replace('`', ''), cols.split(',')))
    print(table_name)
    print(' | '.join(cols))
    for col in cols:
        if 'ID' in col:
            statement = "CREATE INDEX IF NOT EXISTS index_{1}_{0} ON {0}({1});".format(table_name, col)
            try:
                cursor.execute(statement)
            except Exception as e:
                print('! error in index statement', e)
            print(statement)

()
categories_atp
ID_P | CAT1 | CAT2 | CAT3 | CAT4 | CAT5 | CAT6 | CAT7 | CAT8 | CAT9 | CAT10 | CAT11 | CAT12 | CAT13 | CAT14 | CAT15 | CAT16 | CAT17 | CAT18 | CAT19 | CAT20 | CAT21 | CAT22 | CAT23 | CAT24 | CAT25 | CAT26 | CAT27 | CAT28 | CAT29 | CAT30
CREATE INDEX IF NOT EXISTS index_ID_P_categories_atp ON categories_atp(ID_P);
()
categories_mxt
ID_P | CAT1 | CAT2 | CAT3 | CAT4 | CAT5 | CAT6 | CAT7 | CAT8 | CAT9 | CAT10 | CAT11 | CAT12 | CAT13 | CAT14 | CAT15 | CAT16 | CAT17 | CAT18 | CAT19 | CAT20 | CAT21 | CAT22 | CAT23 | CAT24 | CAT25 | CAT26 | CAT27 | CAT28 | CAT29 | CAT30
CREATE INDEX IF NOT EXISTS index_ID_P_categories_mxt ON categories_mxt(ID_P);
()
categories_wta
ID_P | CAT1 | CAT2 | CAT3 | CAT4 | CAT5 | CAT6 | CAT7 | CAT8 | CAT9 | CAT10 | CAT11 | CAT12 | CAT13 | CAT14 | CAT15 | CAT16 | CAT17 | CAT18 | CAT19 | CAT20 | CAT21 | CAT22 | CAT23 | CAT24 | CAT25 | CAT26 | CAT27 | CAT28 | CAT29 | CAT30
CREATE INDEX IF NOT EXISTS index_ID_P_categories_wta ON categories_wta(ID_P);
()
facts_atp
ID_P_F | YEAR_F | TMW_F | TML_F | TBW_F | TBL_F | MF_F | ACES_F | DF_F | SRV1_F | WON1_F | WON2_F | SGW_F | BPS_F | PWR1S_F | PWR2S_F | BPW_F | RGW_F | PRIZE_F
CREATE INDEX IF NOT EXISTS index_ID_P_F_facts_atp ON facts_atp(ID_P_F);
()
facts_wta
ID_P_F | YEAR_F | TMW_F | TML_F | TBW_F | TBL_F | MF_F | ACES_F | DF_F | SRV1_F | WON1_F | WON2_F | SGW_F | BPS_F | PWR1S_F | PWR2S_F | BPW_F | RGW_F | PRIZE_F
CREATE INDEX IF NOT EXISTS index_ID_P_F_facts_wta ON facts_wta(ID_P_F);
()
games_atp
ID1_G | ID2_G | ID_T_G | ID_R_G | RESULT_G
CREATE INDEX IF NOT EXISTS index_ID1_G_games_atp ON games_atp(ID1_G);
CREATE INDEX IF NOT EXISTS index_ID2_G_games_atp ON games_atp(ID2_G);
CREATE INDEX IF NOT EXISTS index_ID_T_G_games_atp ON games_atp(ID_T_G);
CREATE INDEX IF NOT EXISTS index_ID_R_G_games_atp ON games_atp(ID_R_G);
()
games_mxt
ID1_G | ID2_G | ID_T_G | ID_R_G | RESULT_G
CREATE INDEX IF NOT EXISTS index_ID1_G_games_mxt ON games_mxt(ID1_G);
CREATE INDEX IF NOT EXISTS index_ID2_G_games_mxt ON games_mxt(ID2_G);
CREATE INDEX IF NOT EXISTS index_ID_T_G_games_mxt ON games_mxt(ID_T_G);
CREATE INDEX IF NOT EXISTS index_ID_R_G_games_mxt ON games_mxt(ID_R_G);
()
games_wta
ID1_G | ID2_G | ID_T_G | ID_R_G | RESULT_G
CREATE INDEX IF NOT EXISTS index_ID1_G_games_wta ON games_wta(ID1_G);
CREATE INDEX IF NOT EXISTS index_ID2_G_games_wta ON games_wta(ID2_G);
CREATE INDEX IF NOT EXISTS index_ID_T_G_games_wta ON games_wta(ID_T_G);
CREATE INDEX IF NOT EXISTS index_ID_R_G_games_wta ON games_wta(ID_R_G);
()
injury_wta
ID_P_I | DATE_I | INJURY_I
CREATE INDEX IF NOT EXISTS index_ID_P_I_injury_wta ON injury_wta(ID_P_I);
()
links
ID | LANG_ID | CATEGORY
CREATE INDEX IF NOT EXISTS index_ID_links ON links(ID);
CREATE INDEX IF NOT EXISTS index_LANG_ID_links ON links(LANG_ID);
()
odds_atp
ID_B_O | ID1_O | ID2_O | ID_T_O | ID_R_O | K1 | K2 | TOTAL | KTM | KTB | F1 | F2 | KF1 | KF2 | K20 | K21 | K12 | K02 | K30 | K31 | K32 | K23 | K13 | K03
CREATE INDEX IF NOT EXISTS index_ID_B_O_odds_atp ON odds_atp(ID_B_O);
CREATE INDEX IF NOT EXISTS index_ID1_O_odds_atp ON odds_atp(ID1_O);
CREATE INDEX IF NOT EXISTS index_ID2_O_odds_atp ON odds_atp(ID2_O);
CREATE INDEX IF NOT EXISTS index_ID_T_O_odds_atp ON odds_atp(ID_T_O);
CREATE INDEX IF NOT EXISTS index_ID_R_O_odds_atp ON odds_atp(ID_R_O);
()
odds_mxt
ID_B_O | ID1_O | ID2_O | ID_T_O | ID_R_O | K1 | K2 | TOTAL | KTM | KTB | F1 | F2 | KF1 | KF2 | K20 | K21 | K12 | K02 | K30 | K31 | K32 | K23 | K13 | K03
CREATE INDEX IF NOT EXISTS index_ID_B_O_odds_mxt ON odds_mxt(ID_B_O);
CREATE INDEX IF NOT EXISTS index_ID1_O_odds_mxt ON odds_mxt(ID1_O);
CREATE INDEX IF NOT EXISTS index_ID2_O_odds_mxt ON odds_mxt(ID2_O);
CREATE INDEX IF NOT EXISTS index_ID_T_O_odds_mxt ON odds_mxt(ID_T_O);
CREATE INDEX IF NOT EXISTS index_ID_R_O_odds_mxt ON odds_mxt(ID_R_O);
()
players_atp
ID_P | NAME_P
CREATE INDEX IF NOT EXISTS index_ID_P_players_atp ON players_atp(ID_P);
()
players_mxt
ID_P | NAME_P
CREATE INDEX IF NOT EXISTS index_ID_P_players_mxt ON players_mxt(ID_P);
()
players_wta
ID_P | NAME_P
CREATE INDEX IF NOT EXISTS index_ID_P_players_wta ON players_wta(ID_P);
()
points
id_pnt | win_pnt | fin_pnt | sem_pnt | qtr_pnt | for_pnt | thr_pnt | sec_pnt | fir_pnt | qlf_pnt | q3_pnt | q2_pnt | q1_pnt
()
ratings_atp
DATE_R | ID_P_R | POINT_R | POS_R
CREATE INDEX IF NOT EXISTS index_ID_P_R_ratings_atp ON ratings_atp(ID_P_R);
()
ratings_wta
DATE_R | ID_P_R | POINT_R | POS_R
CREATE INDEX IF NOT EXISTS index_ID_P_R_ratings_wta ON ratings_wta(ID_P_R);
()
rounds
ID_R | NAME_R
CREATE INDEX IF NOT EXISTS index_ID_R_rounds ON rounds(ID_R);
()
seed_atp
ID_P_S | ID_T_S | SEEDING
CREATE INDEX IF NOT EXISTS index_ID_P_S_seed_atp ON seed_atp(ID_P_S);
CREATE INDEX IF NOT EXISTS index_ID_T_S_seed_atp ON seed_atp(ID_T_S);
()
seed_wta
ID_P_S | ID_T_S | SEEDING
CREATE INDEX IF NOT EXISTS index_ID_P_S_seed_wta ON seed_wta(ID_P_S);
CREATE INDEX IF NOT EXISTS index_ID_T_S_seed_wta ON seed_wta(ID_T_S);
()
stat_atp
ID1 | ID2 | ID_T | ID_R | FS_1 | FSOF_1 | ACES_1 | DF_1 | UE_1 | W1S_1 | W1SOF_1 | W2S_1 | W2SOF_1 | WIS_1 | BP_1 | BPOF_1 | NA_1 | NAOF_1 | TPW_1 | FAST_1 | A1S_1 | A2S_1 | FS_2 | FSOF_2 | ACES_2 | DF_2 | UE_2 | W1S_2 | W1SOF_2 | W2S_2 | W2SOF_2 | WIS_2 | BP_2 | BPOF_2 | NA_2 | NAOF_2 | TPW_2 | FAST_2 | A1S_2 | A2S_2 | RPW_1 | RPWOF_1 | RPW_2 | RPWOF_2 | MT
CREATE INDEX IF NOT EXISTS index_ID1_stat_atp ON stat_atp(ID1);
CREATE INDEX IF NOT EXISTS index_ID2_stat_atp ON stat_atp(ID2);
CREATE INDEX IF NOT EXISTS index_ID_T_stat_atp ON stat_atp(ID_T);
CREATE INDEX IF NOT EXISTS index_ID_R_stat_atp ON stat_atp(ID_R);
()
stat_mxt
ID1 | ID2 | ID_T | ID_R | FS_1 | FSOF_1 | ACES_1 | DF_1 | UE_1 | W1S_1 | W1SOF_1 | W2S_1 | W2SOF_1 | WIS_1 | BP_1 | BPOF_1 | NA_1 | NAOF_1 | TPW_1 | FAST_1 | A1S_1 | A2S_1 | FS_2 | FSOF_2 | ACES_2 | DF_2 | UE_2 | W1S_2 | W1SOF_2 | W2S_2 | W2SOF_2 | WIS_2 | BP_2 | BPOF_2 | NA_2 | NAOF_2 | TPW_2 | FAST_2 | A1S_2 | A2S_2 | RPW_1 | RPWOF_1 | RPW_2 | RPWOF_2 | MT
CREATE INDEX IF NOT EXISTS index_ID1_stat_mxt ON stat_mxt(ID1);
CREATE INDEX IF NOT EXISTS index_ID2_stat_mxt ON stat_mxt(ID2);
CREATE INDEX IF NOT EXISTS index_ID_T_stat_mxt ON stat_mxt(ID_T);
CREATE INDEX IF NOT EXISTS index_ID_R_stat_mxt ON stat_mxt(ID_R);
()
stat_wta
ID1 | ID2 | ID_T | ID_R | FS_1 | FSOF_1 | ACES_1 | DF_1 | UE_1 | W1S_1 | W1SOF_1 | W2S_1 | W2SOF_1 | WIS_1 | BP_1 | BPOF_1 | NA_1 | NAOF_1 | TPW_1 | FAST_1 | A1S_1 | A2S_1 | FS_2 | FSOF_2 | ACES_2 | DF_2 | UE_2 | W1S_2 | W1SOF_2 | W2S_2 | W2SOF_2 | WIS_2 | BP_2 | BPOF_2 | NA_2 | NAOF_2 | TPW_2 | FAST_2 | A1S_2 | A2S_2 | RPW_1 | RPWOF_1 | RPW_2 | RPWOF_2 | MT
CREATE INDEX IF NOT EXISTS index_ID1_stat_wta ON stat_wta(ID1);
CREATE INDEX IF NOT EXISTS index_ID2_stat_wta ON stat_wta(ID2);
CREATE INDEX IF NOT EXISTS index_ID_T_stat_wta ON stat_wta(ID_T);
CREATE INDEX IF NOT EXISTS index_ID_R_stat_wta ON stat_wta(ID_R);
()
today_atp
TOUR | DATE_GAME | ID1 | ID2 | ROUND | DRAW | RESULT
CREATE INDEX IF NOT EXISTS index_ID1_today_atp ON today_atp(ID1);
CREATE INDEX IF NOT EXISTS index_ID2_today_atp ON today_atp(ID2);
()
today_mxt
TOUR | DATE_GAME | ID1 | ID2 | ROUND | DRAW | RESULT
CREATE INDEX IF NOT EXISTS index_ID1_today_mxt ON today_mxt(ID1);
CREATE INDEX IF NOT EXISTS index_ID2_today_mxt ON today_mxt(ID2);
()
today_wta
TOUR | DATE_GAME | ID1 | ID2 | ROUND | DRAW | RESULT
CREATE INDEX IF NOT EXISTS index_ID1_today_wta ON today_wta(ID1);
CREATE INDEX IF NOT EXISTS index_ID2_today_wta ON today_wta(ID2);
()
tours_atp
ID_T | NAME_T
CREATE INDEX IF NOT EXISTS index_ID_T_tours_atp ON tours_atp(ID_T);
()
tours_mxt
ID_T | NAME_T
CREATE INDEX IF NOT EXISTS index_ID_T_tours_mxt ON tours_mxt(ID_T);
()
tours_wta
ID_T | NAME_T
CREATE INDEX IF NOT EXISTS index_ID_T_tours_wta ON tours_wta(ID_T);
()
url
ID_URL | LINK_URL
CREATE INDEX IF NOT EXISTS index_ID_URL_url ON url(ID_URL);
()
courts
ID_C | NAME_C
CREATE INDEX IF NOT EXISTS index_ID_C_courts ON courts(ID_C);
()
injury_atp
ID_P_I | DATE_I | INJURY_I
CREATE INDEX IF NOT EXISTS index_ID_P_I_injury_atp ON injury_atp(ID_P_I);
()
odds_wta
ID_B_O | ID1_O | ID2_O | ID_T_O | ID_R_O | K1 | K2 | TOTAL | KTM | KTB | F1 | F2 | KF1 | KF2 | K20 | K21 | K12 | K02 | K30 | K31 | K32 | K23 | K13 | K03
CREATE INDEX IF NOT EXISTS index_ID_B_O_odds_wta ON odds_wta(ID_B_O);
CREATE INDEX IF NOT EXISTS index_ID1_O_odds_wta ON odds_wta(ID1_O);
CREATE INDEX IF NOT EXISTS index_ID2_O_odds_wta ON odds_wta(ID2_O);
CREATE INDEX IF NOT EXISTS index_ID_T_O_odds_wta ON odds_wta(ID_T_O);
CREATE INDEX IF NOT EXISTS index_ID_R_O_odds_wta ON odds_wta(ID_R_O);
()
seed_mxt
ID_P_S | ID_T_S | SEEDING
CREATE INDEX IF NOT EXISTS index_ID_P_S_seed_mxt ON seed_mxt(ID_P_S);
CREATE INDEX IF NOT EXISTS index_ID_T_S_seed_mxt ON seed_mxt(ID_T_S);
()
index_ID_P_categories_atp
ID_P
('! error in index statement', OperationalError('no such table: main.index_ID_P_categories_atp',))
CREATE INDEX IF NOT EXISTS index_ID_P_index_ID_P_categories_atp ON index_ID_P_categories_atp(ID_P);
()
index_ID_P_categories_mxt
ID_P
('! error in index statement', OperationalError('no such table: main.index_ID_P_categories_mxt',))
CREATE INDEX IF NOT EXISTS index_ID_P_index_ID_P_categories_mxt ON index_ID_P_categories_mxt(ID_P);
()
index_ID_P_categories_wta
ID_P
('! error in index statement', OperationalError('no such table: main.index_ID_P_categories_wta',))
CREATE INDEX IF NOT EXISTS index_ID_P_index_ID_P_categories_wta ON index_ID_P_categories_wta(ID_P);
()
index_ID_P_players_atp
ID_P
('! error in index statement', OperationalError('no such table: main.index_ID_P_players_atp',))
CREATE INDEX IF NOT EXISTS index_ID_P_index_ID_P_players_atp ON index_ID_P_players_atp(ID_P);
()
index_ID_P_players_mxt
ID_P
('! error in index statement', OperationalError('no such table: main.index_ID_P_players_mxt',))
CREATE INDEX IF NOT EXISTS index_ID_P_index_ID_P_players_mxt ON index_ID_P_players_mxt(ID_P);
()
index_ID_P_players_wta
ID_P
('! error in index statement', OperationalError('no such table: main.index_ID_P_players_wta',))
CREATE INDEX IF NOT EXISTS index_ID_P_index_ID_P_players_wta ON index_ID_P_players_wta(ID_P);
()
index_ID_P_F_facts_atp
ID_P_F
('! error in index statement', OperationalError('no such table: main.index_ID_P_F_facts_atp',))
CREATE INDEX IF NOT EXISTS index_ID_P_F_index_ID_P_F_facts_atp ON index_ID_P_F_facts_atp(ID_P_F);
()
index_ID_P_F_facts_wta
ID_P_F
('! error in index statement', OperationalError('no such table: main.index_ID_P_F_facts_wta',))
CREATE INDEX IF NOT EXISTS index_ID_P_F_index_ID_P_F_facts_wta ON index_ID_P_F_facts_wta(ID_P_F);
()
index_ID1_G_games_atp
ID1_G
('! error in index statement', OperationalError('no such table: main.index_ID1_G_games_atp',))
CREATE INDEX IF NOT EXISTS index_ID1_G_index_ID1_G_games_atp ON index_ID1_G_games_atp(ID1_G);
()
index_ID2_G_games_atp
ID2_G
('! error in index statement', OperationalError('no such table: main.index_ID2_G_games_atp',))
CREATE INDEX IF NOT EXISTS index_ID2_G_index_ID2_G_games_atp ON index_ID2_G_games_atp(ID2_G);
()
index_ID_T_G_games_atp
ID_T_G
('! error in index statement', OperationalError('no such table: main.index_ID_T_G_games_atp',))
CREATE INDEX IF NOT EXISTS index_ID_T_G_index_ID_T_G_games_atp ON index_ID_T_G_games_atp(ID_T_G);
()
index_ID_R_G_games_atp
ID_R_G
('! error in index statement', OperationalError('no such table: main.index_ID_R_G_games_atp',))
CREATE INDEX IF NOT EXISTS index_ID_R_G_index_ID_R_G_games_atp ON index_ID_R_G_games_atp(ID_R_G);
()
index_ID1_G_games_mxt
ID1_G
('! error in index statement', OperationalError('no such table: main.index_ID1_G_games_mxt',))
CREATE INDEX IF NOT EXISTS index_ID1_G_index_ID1_G_games_mxt ON index_ID1_G_games_mxt(ID1_G);
()
index_ID2_G_games_mxt
ID2_G
('! error in index statement', OperationalError('no such table: main.index_ID2_G_games_mxt',))
CREATE INDEX IF NOT EXISTS index_ID2_G_index_ID2_G_games_mxt ON index_ID2_G_games_mxt(ID2_G);
()
index_ID_T_G_games_mxt
ID_T_G
('! error in index statement', OperationalError('no such table: main.index_ID_T_G_games_mxt',))
CREATE INDEX IF NOT EXISTS index_ID_T_G_index_ID_T_G_games_mxt ON index_ID_T_G_games_mxt(ID_T_G);
()
index_ID_R_G_games_mxt
ID_R_G
('! error in index statement', OperationalError('no such table: main.index_ID_R_G_games_mxt',))
CREATE INDEX IF NOT EXISTS index_ID_R_G_index_ID_R_G_games_mxt ON index_ID_R_G_games_mxt(ID_R_G);
()
index_ID1_G_games_wta
ID1_G
('! error in index statement', OperationalError('no such table: main.index_ID1_G_games_wta',))
CREATE INDEX IF NOT EXISTS index_ID1_G_index_ID1_G_games_wta ON index_ID1_G_games_wta(ID1_G);
()
index_ID2_G_games_wta
ID2_G
('! error in index statement', OperationalError('no such table: main.index_ID2_G_games_wta',))
CREATE INDEX IF NOT EXISTS index_ID2_G_index_ID2_G_games_wta ON index_ID2_G_games_wta(ID2_G);
()
index_ID_T_G_games_wta
ID_T_G
('! error in index statement', OperationalError('no such table: main.index_ID_T_G_games_wta',))
CREATE INDEX IF NOT EXISTS index_ID_T_G_index_ID_T_G_games_wta ON index_ID_T_G_games_wta(ID_T_G);
()
index_ID_R_G_games_wta
ID_R_G
('! error in index statement', OperationalError('no such table: main.index_ID_R_G_games_wta',))
CREATE INDEX IF NOT EXISTS index_ID_R_G_index_ID_R_G_games_wta ON index_ID_R_G_games_wta(ID_R_G);
()
index_ID_P_I_injury_wta
ID_P_I
('! error in index statement', OperationalError('no such table: main.index_ID_P_I_injury_wta',))
CREATE INDEX IF NOT EXISTS index_ID_P_I_index_ID_P_I_injury_wta ON index_ID_P_I_injury_wta(ID_P_I);
()
index_ID_links
ID
('! error in index statement', OperationalError('no such table: main.index_ID_links',))
CREATE INDEX IF NOT EXISTS index_ID_index_ID_links ON index_ID_links(ID);
()
index_LANG_ID_links
LANG_ID
('! error in index statement', OperationalError('no such table: main.index_LANG_ID_links',))
CREATE INDEX IF NOT EXISTS index_LANG_ID_index_LANG_ID_links ON index_LANG_ID_links(LANG_ID);
()
index_ID_B_O_odds_atp
ID_B_O
('! error in index statement', OperationalError('no such table: main.index_ID_B_O_odds_atp',))
CREATE INDEX IF NOT EXISTS index_ID_B_O_index_ID_B_O_odds_atp ON index_ID_B_O_odds_atp(ID_B_O);
()
index_ID1_O_odds_atp
ID1_O
('! error in index statement', OperationalError('no such table: main.index_ID1_O_odds_atp',))
CREATE INDEX IF NOT EXISTS index_ID1_O_index_ID1_O_odds_atp ON index_ID1_O_odds_atp(ID1_O);
()
index_ID2_O_odds_atp
ID2_O
('! error in index statement', OperationalError('no such table: main.index_ID2_O_odds_atp',))
CREATE INDEX IF NOT EXISTS index_ID2_O_index_ID2_O_odds_atp ON index_ID2_O_odds_atp(ID2_O);
()
index_ID_T_O_odds_atp
ID_T_O
('! error in index statement', OperationalError('no such table: main.index_ID_T_O_odds_atp',))
CREATE INDEX IF NOT EXISTS index_ID_T_O_index_ID_T_O_odds_atp ON index_ID_T_O_odds_atp(ID_T_O);
()
index_ID_R_O_odds_atp
ID_R_O
('! error in index statement', OperationalError('no such table: main.index_ID_R_O_odds_atp',))
CREATE INDEX IF NOT EXISTS index_ID_R_O_index_ID_R_O_odds_atp ON index_ID_R_O_odds_atp(ID_R_O);
()
index_ID_B_O_odds_mxt
ID_B_O
('! error in index statement', OperationalError('no such table: main.index_ID_B_O_odds_mxt',))
CREATE INDEX IF NOT EXISTS index_ID_B_O_index_ID_B_O_odds_mxt ON index_ID_B_O_odds_mxt(ID_B_O);
()
index_ID1_O_odds_mxt
ID1_O
('! error in index statement', OperationalError('no such table: main.index_ID1_O_odds_mxt',))
CREATE INDEX IF NOT EXISTS index_ID1_O_index_ID1_O_odds_mxt ON index_ID1_O_odds_mxt(ID1_O);
()
index_ID2_O_odds_mxt
ID2_O
('! error in index statement', OperationalError('no such table: main.index_ID2_O_odds_mxt',))
CREATE INDEX IF NOT EXISTS index_ID2_O_index_ID2_O_odds_mxt ON index_ID2_O_odds_mxt(ID2_O);
()
index_ID_T_O_odds_mxt
ID_T_O
('! error in index statement', OperationalError('no such table: main.index_ID_T_O_odds_mxt',))
CREATE INDEX IF NOT EXISTS index_ID_T_O_index_ID_T_O_odds_mxt ON index_ID_T_O_odds_mxt(ID_T_O);
()
index_ID_R_O_odds_mxt
ID_R_O
('! error in index statement', OperationalError('no such table: main.index_ID_R_O_odds_mxt',))
CREATE INDEX IF NOT EXISTS index_ID_R_O_index_ID_R_O_odds_mxt ON index_ID_R_O_odds_mxt(ID_R_O);
()
index_ID_P_R_ratings_atp
ID_P_R
('! error in index statement', OperationalError('no such table: main.index_ID_P_R_ratings_atp',))
CREATE INDEX IF NOT EXISTS index_ID_P_R_index_ID_P_R_ratings_atp ON index_ID_P_R_ratings_atp(ID_P_R);
()
index_ID_P_R_ratings_wta
ID_P_R
('! error in index statement', OperationalError('no such table: main.index_ID_P_R_ratings_wta',))
CREATE INDEX IF NOT EXISTS index_ID_P_R_index_ID_P_R_ratings_wta ON index_ID_P_R_ratings_wta(ID_P_R);
()
index_ID_R_rounds
ID_R
('! error in index statement', OperationalError('no such table: main.index_ID_R_rounds',))
CREATE INDEX IF NOT EXISTS index_ID_R_index_ID_R_rounds ON index_ID_R_rounds(ID_R);
()
index_ID_P_S_seed_atp
ID_P_S
('! error in index statement', OperationalError('no such table: main.index_ID_P_S_seed_atp',))
CREATE INDEX IF NOT EXISTS index_ID_P_S_index_ID_P_S_seed_atp ON index_ID_P_S_seed_atp(ID_P_S);
()
index_ID_T_S_seed_atp
ID_T_S
('! error in index statement', OperationalError('no such table: main.index_ID_T_S_seed_atp',))
CREATE INDEX IF NOT EXISTS index_ID_T_S_index_ID_T_S_seed_atp ON index_ID_T_S_seed_atp(ID_T_S);
()
index_ID_P_S_seed_wta
ID_P_S
('! error in index statement', OperationalError('no such table: main.index_ID_P_S_seed_wta',))
CREATE INDEX IF NOT EXISTS index_ID_P_S_index_ID_P_S_seed_wta ON index_ID_P_S_seed_wta(ID_P_S);
()
index_ID_T_S_seed_wta
ID_T_S
('! error in index statement', OperationalError('no such table: main.index_ID_T_S_seed_wta',))
CREATE INDEX IF NOT EXISTS index_ID_T_S_index_ID_T_S_seed_wta ON index_ID_T_S_seed_wta(ID_T_S);
()
index_ID1_stat_atp
ID1
('! error in index statement', OperationalError('no such table: main.index_ID1_stat_atp',))
CREATE INDEX IF NOT EXISTS index_ID1_index_ID1_stat_atp ON index_ID1_stat_atp(ID1);
()
index_ID2_stat_atp
ID2
('! error in index statement', OperationalError('no such table: main.index_ID2_stat_atp',))
CREATE INDEX IF NOT EXISTS index_ID2_index_ID2_stat_atp ON index_ID2_stat_atp(ID2);
()
index_ID_T_stat_atp
ID_T
('! error in index statement', OperationalError('no such table: main.index_ID_T_stat_atp',))
CREATE INDEX IF NOT EXISTS index_ID_T_index_ID_T_stat_atp ON index_ID_T_stat_atp(ID_T);
()
index_ID_R_stat_atp
ID_R
('! error in index statement', OperationalError('no such table: main.index_ID_R_stat_atp',))
CREATE INDEX IF NOT EXISTS index_ID_R_index_ID_R_stat_atp ON index_ID_R_stat_atp(ID_R);
()
index_ID1_stat_mxt
ID1
('! error in index statement', OperationalError('no such table: main.index_ID1_stat_mxt',))
CREATE INDEX IF NOT EXISTS index_ID1_index_ID1_stat_mxt ON index_ID1_stat_mxt(ID1);
()
index_ID2_stat_mxt
ID2
('! error in index statement', OperationalError('no such table: main.index_ID2_stat_mxt',))
CREATE INDEX IF NOT EXISTS index_ID2_index_ID2_stat_mxt ON index_ID2_stat_mxt(ID2);
()
index_ID_T_stat_mxt
ID_T
('! error in index statement', OperationalError('no such table: main.index_ID_T_stat_mxt',))
CREATE INDEX IF NOT EXISTS index_ID_T_index_ID_T_stat_mxt ON index_ID_T_stat_mxt(ID_T);
()
index_ID_R_stat_mxt
ID_R
('! error in index statement', OperationalError('no such table: main.index_ID_R_stat_mxt',))
CREATE INDEX IF NOT EXISTS index_ID_R_index_ID_R_stat_mxt ON index_ID_R_stat_mxt(ID_R);
()
index_ID1_stat_wta
ID1
('! error in index statement', OperationalError('no such table: main.index_ID1_stat_wta',))
CREATE INDEX IF NOT EXISTS index_ID1_index_ID1_stat_wta ON index_ID1_stat_wta(ID1);
()
index_ID2_stat_wta
ID2
('! error in index statement', OperationalError('no such table: main.index_ID2_stat_wta',))
CREATE INDEX IF NOT EXISTS index_ID2_index_ID2_stat_wta ON index_ID2_stat_wta(ID2);
()
index_ID_T_stat_wta
ID_T
('! error in index statement', OperationalError('no such table: main.index_ID_T_stat_wta',))
CREATE INDEX IF NOT EXISTS index_ID_T_index_ID_T_stat_wta ON index_ID_T_stat_wta(ID_T);
()
index_ID_R_stat_wta
ID_R
('! error in index statement', OperationalError('no such table: main.index_ID_R_stat_wta',))

In [7]:
con.commit()

In [8]:
con.close()

In [30]:
con = sqlite3.connect("on_court.db")
cur = con.cursor()
cur.execute("DROP TABLE players")
con.commit()

In [31]:
import csv, sqlite3

con = sqlite3.connect("on_court.db")
cur = con.cursor()
cur.execute("CREATE TABLE players (id, rating, rank, results1, results2, results3, results4, results5, games, winrate, after_game_period);") # use your column names here

fin = open('players.csv','rb') # `with` statement available in 2.5+
# csv.DictReader uses first line in file for column headings by default
dr = csv.DictReader(fin) # comma is default delimiter

to_db = [(i['id'], i['rating'], i['rank'], i['results1'], i['results2'], i['results3'], i['results4'], i['results5'], i['games'], i['winrate'], i['after_game_period']) for i in dr]

for st in to_db:
    cur.execute("INSERT INTO players (id, rating, rank, results1, results2, results3, results4, results5, games, winrate, after_game_period) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);", st)
con.commit()
con.close()

In [32]:
con = sqlite3.connect('on_court.db')
cursor = con.cursor()


query = 'select * from players'
cursor.execute(query).fetchone()
con.commit()

In [33]:
con.close()

In [36]:
con = sqlite3.connect("on_court.db")
cur = con.cursor()
cur.execute("DROP TABLE pairs")
con.commit()

In [37]:
con = sqlite3.connect("on_court.db")
cur = con.cursor()
cur.execute("CREATE TABLE pairs (id_p, rating_diff,rank_diff,games_diff,winrate_diff,after_game_period_diff,meetings_count,pair_winrate,meeting_results1,meeting_results2,meeting_results3,meeting_results4,meeting_results5,indirect_score);") # use your column names here

fin = open('pairs.csv','rb') # `with` statement available in 2.5+
# csv.DictReader uses first line in file for column headings by default
dr = csv.DictReader(fin) # comma is default delimiter

to_db = [(i['id_p'], i['rating_diff'],i['rank_diff'],i['games_diff'],i['winrate_diff'],i['after_game_period_diff'],i['meetings_count'],i['pair_winrate'],i['meeting_results1'],i['meeting_results2'],i['meeting_results3'],i['meeting_results4'],i['meeting_results5'],i['indirect_score']) for i in dr]

cur.executemany("INSERT INTO pairs (id_p, rating_diff,rank_diff,games_diff,winrate_diff,after_game_period_diff,meetings_count,pair_winrate,meeting_results1,meeting_results2,meeting_results3,meeting_results4,meeting_results5,indirect_score) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);", to_db)
con.commit()
con.close()

In [38]:
con = sqlite3.connect('on_court.db')
cursor = con.cursor()

query = 'select * from pairs'
cursor.execute(query).fetchone()

(u'(85, 89)',
 u'-3531.0',
 u'29.0',
 u'-115.0',
 u'-0.17470266795242684',
 u'0.0',
 u'3.0',
 u'0.6666666666666667',
 u'',
 u'',
 u'1.0',
 u'0.0',
 u'1.0',
 u'1.2592592592592593')

In [39]:
con.commit()
con.close()